# 1) Install Chatbot Widget

In [ ]:
%%capture
# # '%%capture' suppresses the display of installation steps of the following packages
!pip install "git+https://github.com/martinhillebrand/chatbot-widget.git"

In [4]:
try:
    import chatbot_widget
    print("chatbot_widget installed")
except:
    print("chatbot_widget could not be loaded, please restart the kernel")

chatbot_widget installed

# 2) Optional: Get the teradata-mcp-server (Community Edition) Code

In [1]:
!git clone  https://github.com/Teradata/teradata-mcp-server.git

Cloning into 'teradata-mcp-server'...
remote: Enumerating objects: 3728, done.
remote: Counting objects: 100% (623/623), done.
remote: Compressing objects: 100% (134/134), done.
remote: Total 3728 (delta 531), reused 493 (delta 489), pack-reused 3105 (from 2)
Receiving objects: 100% (3728/3728), 80.87 MiB | 38.28 MiB/s, done.
Resolving deltas: 100% (2226/2226), done.

In [4]:
!ls

all_in_one.ipynb  ascii_server.log  tdsql_server.log  teradata-mcp-server

In [10]:
import tomllib,shlex

with open("teradata-mcp-server/pyproject.toml", "rb") as f:
    deps = tomllib.load(f)["project"]["dependencies"]
deps_str = " ".join(shlex.quote(d) for d in deps)

print(deps_str)

In [11]:
%%capture
# # '%%capture' suppresses the display of installation steps of the following packages
!pip install -U {deps_str}

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pydantic<3.0.0,>=2.8.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (2.12.2)
Collecting pydantic<3.0.0,>=2.8.0
  Downloading pydantic-2.12.3-py3-none-any.whl.metadata (87 kB)
Requirement already satisfied: fastmcp<3.0.0,>=2.12.0 in /home/jovyan/.local/lib/python3.11/site-packages (2.12.5)
Requirement already satisfied: mcp<2.0.0,>=1.0.0 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp[cli]<2.0.0,>=1.0.0) (1.16.0)
Collecting mcp<2.0.0,>=1.0.0 (from mcp[cli]<2.0.0,>=1.0.0)
  Downloading mcp-1.18.0-py3-none-any.whl.metadata (80 kB)
Requirement already satisfied: teradatasqlalchemy>=20.0.0.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (20.0.0.7)
Requirement already satisfied: python-dotenv>=1.0.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (1.1.1)
Requirement already satisfied: PyYAML>=6.0.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (6.0.3)
Requirement already satisfied: sqlalchemy<3.0.0,>=2.0.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (2.0.25)
Collecting sqlalchemy<3.0.0,>=2.0.0
  Downloading sqlalchemy-2.0.44-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (from pydantic<3.0.0,>=2.8.0) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.4 in /opt/conda/envs/py311/lib/python3.11/site-packages (from pydantic<3.0.0,>=2.8.0) (2.41.4)
Requirement already satisfied: typing-extensions>=4.14.1 in /opt/conda/envs/py311/lib/python3.11/site-packages (from pydantic<3.0.0,>=2.8.0) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.2 in /opt/conda/envs/py311/lib/python3.11/site-packages (from pydantic<3.0.0,>=2.8.0) (0.4.2)
Requirement already satisfied: authlib>=1.5.2 in /home/jovyan/.local/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (1.6.5)
Requirement already satisfied: cyclopts>=3.0.0 in /home/jovyan/.local/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (4.0.0)
Requirement already satisfied: exceptiongroup>=1.2.2 in /opt/conda/envs/py311/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (1.3.0)
Requirement already satisfied: httpx>=0.28.1 in /home/jovyan/.local/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (0.28.1)
Requirement already satisfied: openapi-core>=0.19.5 in /home/jovyan/.local/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (0.19.5)
Requirement already satisfied: openapi-pydantic>=0.5.1 in /home/jovyan/.local/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (0.5.1)
Requirement already satisfied: pyperclip>=1.9.0 in /home/jovyan/.local/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (1.11.0)
Requirement already satisfied: rich>=13.9.4 in /home/jovyan/.local/lib/python3.11/site-packages (from fastmcp<3.0.0,>=2.12.0) (14.2.0)
Requirement already satisfied: anyio>=4.5 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (4.11.0)
Requirement already satisfied: httpx-sse>=0.4 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (0.4.3)
Requirement already satisfied: jsonschema>=4.20.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (4.25.1)
Requirement already satisfied: pydantic-settings>=2.5.2 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (2.11.0)
Requirement already satisfied: python-multipart>=0.0.9 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (0.0.20)
Requirement already satisfied: sse-starlette>=1.6.1 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (3.0.2)
Requirement already satisfied: starlette>=0.27 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (0.48.0)
Requirement already satisfied: uvicorn>=0.31.1 in /home/jovyan/.local/lib/python3.11/site-packages (from mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (0.38.0)
Requirement already satisfied: greenlet>=1 in /opt/conda/envs/py311/lib/python3.11/site-packages (from sqlalchemy<3.0.0,>=2.0.0) (3.2.4)
INFO: pip is looking at multiple versions of mcp[cli] to determine which version is compatible with other requirements. This could take a while.
Collecting mcp[cli]<2.0.0,>=1.0.0
  Downloading mcp-1.17.0-py3-none-any.whl.metadata (80 kB)
Collecting typer>=0.16.0 (from mcp[cli]<2.0.0,>=1.0.0)
  Downloading typer-0.20.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: teradatasql>=17.0.0.2 in /opt/conda/envs/py311/lib/python3.11/site-packages (from teradatasqlalchemy>=20.0.0.0) (20.0.0.44)
Requirement already satisfied: idna>=2.8 in /opt/conda/envs/py311/lib/python3.11/site-packages (from anyio>=4.5->mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (3.11)
Requirement already satisfied: sniffio>=1.1 in /home/jovyan/.local/lib/python3.11/site-packages (from anyio>=4.5->mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (1.3.1)
Requirement already satisfied: cryptography in /opt/conda/envs/py311/lib/python3.11/site-packages (from authlib>=1.5.2->fastmcp<3.0.0,>=2.12.0) (46.0.2)
Requirement already satisfied: attrs>=23.1.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (from cyclopts>=3.0.0->fastmcp<3.0.0,>=2.12.0) (25.4.0)
Requirement already satisfied: docstring-parser<4.0,>=0.15 in /home/jovyan/.local/lib/python3.11/site-packages (from cyclopts>=3.0.0->fastmcp<3.0.0,>=2.12.0) (0.17.0)
Requirement already satisfied: rich-rst<2.0.0,>=1.3.1 in /home/jovyan/.local/lib/python3.11/site-packages (from cyclopts>=3.0.0->fastmcp<3.0.0,>=2.12.0) (1.3.2)
Requirement already satisfied: docutils in /home/jovyan/.local/lib/python3.11/site-packages (from rich-rst<2.0.0,>=1.3.1->cyclopts>=3.0.0->fastmcp<3.0.0,>=2.12.0) (0.22.2)
Requirement already satisfied: certifi in /opt/conda/envs/py311/lib/python3.11/site-packages (from httpx>=0.28.1->fastmcp<3.0.0,>=2.12.0) (2025.10.5)
Requirement already satisfied: httpcore==1.* in /home/jovyan/.local/lib/python3.11/site-packages (from httpx>=0.28.1->fastmcp<3.0.0,>=2.12.0) (1.0.9)
Requirement already satisfied: h11>=0.16 in /home/jovyan/.local/lib/python3.11/site-packages (from httpcore==1.*->httpx>=0.28.1->fastmcp<3.0.0,>=2.12.0) (0.16.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/envs/py311/lib/python3.11/site-packages (from jsonschema>=4.20.0->mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (2025.9.1)
Requirement already satisfied: referencing>=0.28.4 in /home/jovyan/.local/lib/python3.11/site-packages (from jsonschema>=4.20.0->mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/envs/py311/lib/python3.11/site-packages (from jsonschema>=4.20.0->mcp<2.0.0,>=1.0.0->mcp[cli]<2.0.0,>=1.0.0) (0.27.1)
Requirement already satisfied: isodate in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (0.7.2)
Requirement already satisfied: jsonschema-path<0.4.0,>=0.3.1 in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (0.3.4)
Requirement already satisfied: more-itertools in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (10.8.0)
Requirement already satisfied: openapi-schema-validator<0.7.0,>=0.6.0 in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (0.6.3)
Requirement already satisfied: openapi-spec-validator<0.8.0,>=0.7.1 in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (0.7.2)
Requirement already satisfied: parse in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (1.20.2)
Requirement already satisfied: werkzeug<3.1.2 in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (3.1.1)
Requirement already satisfied: pathable<0.5.0,>=0.4.1 in /home/jovyan/.local/lib/python3.11/site-packages (from jsonschema-path<0.4.0,>=0.3.1->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (0.4.4)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (from jsonschema-path<0.4.0,>=0.3.1->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (2.32.5)
Requirement already satisfied: rfc3339-validator in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-schema-validator<0.7.0,>=0.6.0->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (0.1.4)
Requirement already satisfied: lazy-object-proxy<2.0.0,>=1.7.1 in /home/jovyan/.local/lib/python3.11/site-packages (from openapi-spec-validator<0.8.0,>=0.7.1->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (1.12.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/envs/py311/lib/python3.11/site-packages (from requests<3.0.0,>=2.31.0->jsonschema-path<0.4.0,>=0.3.1->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/envs/py311/lib/python3.11/site-packages (from requests<3.0.0,>=2.31.0->jsonschema-path<0.4.0,>=0.3.1->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (2.5.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/conda/envs/py311/lib/python3.11/site-packages (from werkzeug<3.1.2->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (3.0.3)
Requirement already satisfied: email-validator>=2.0.0 in /home/jovyan/.local/lib/python3.11/site-packages (from pydantic[email]>=2.11.7->fastmcp<3.0.0,>=2.12.0) (2.3.0)
Requirement already satisfied: dnspython>=2.0.0 in /home/jovyan/.local/lib/python3.11/site-packages (from email-validator>=2.0.0->pydantic[email]>=2.11.7->fastmcp<3.0.0,>=2.12.0) (2.8.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /home/jovyan/.local/lib/python3.11/site-packages (from rich>=13.9.4->fastmcp<3.0.0,>=2.12.0) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (from rich>=13.9.4->fastmcp<3.0.0,>=2.12.0) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /home/jovyan/.local/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich>=13.9.4->fastmcp<3.0.0,>=2.12.0) (0.1.2)
Requirement already satisfied: pycryptodome in /opt/conda/envs/py311/lib/python3.11/site-packages (from teradatasql>=17.0.0.2->teradatasqlalchemy>=20.0.0.0) (3.23.0)
Requirement already satisfied: click>=8.0.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (from typer>=0.16.0->mcp[cli]<2.0.0,>=1.0.0) (8.3.0)
Collecting shellingham>=1.3.0 (from typer>=0.16.0->mcp[cli]<2.0.0,>=1.0.0)
  Downloading shellingham-1.5.4-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: cffi>=2.0.0 in /opt/conda/envs/py311/lib/python3.11/site-packages (from cryptography->authlib>=1.5.2->fastmcp<3.0.0,>=2.12.0) (2.0.0)
Requirement already satisfied: pycparser in /opt/conda/envs/py311/lib/python3.11/site-packages (from cffi>=2.0.0->cryptography->authlib>=1.5.2->fastmcp<3.0.0,>=2.12.0) (2.23)
Requirement already satisfied: six in /opt/conda/envs/py311/lib/python3.11/site-packages (from rfc3339-validator->openapi-schema-validator<0.7.0,>=0.6.0->openapi-core>=0.19.5->fastmcp<3.0.0,>=2.12.0) (1.17.0)
Downloading pydantic-2.12.3-py3-none-any.whl (462 kB)
Downloading sqlalchemy-2.0.44-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 107.8 MB/s  0:00:00
Downloading typer-0.20.0-py3-none-any.whl (47 kB)
Downloading shellingham-1.5.4-py2.py3-none-any.whl (9.8 kB)
Installing collected packages: sqlalchemy, shellingham, pydantic, typer
   ━━━━━━━━━━━━━━━━━━━━╺━━━━━━━━━━━━━━━━━━━ 2/4 [pydantic]  WARNING: The script typer is installed in '/home/jovyan/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [typer]
Successfully installed pydantic-2.12.3 shellingham-1.5.4 sqlalchemy-2.0.44 typer-0.20.0

**FYI: We can start the MCP server later through the wrapper script tdmcpcommunity.py**

# 3 Load some dummy data to the demo_user database

In [ ]:
# TODO example from mcp demo

In [5]:
host = 'host.docker.internal'
user = 'demo_user'

In [6]:
import getpass
db_pw = getpass.getpass("Enter DB Password here")

Enter DB Password here ············

In [11]:
import tdmlplus
import teradataml as tdml
import os
import pandas as pd

In [8]:
tdml.create_context(host, user, db_pw)

Engine(teradatasql://demo_user:***@host.docker.internal)

In [10]:
all_csvs = os.listdir("sample_data_jaffleshop/")
for f in all_csvs:
    if f.endswith(".csv"):
        table_name = f.split(".csv")[0]
        df = pd.read_csv("sample_data_jaffleshop/"+f)
        tdml.copy_to_sql(df, table_name, if_exists="replace")
        print(table_name, " uploaded")

dim_payment_method  uploaded
customer_lifetime_value  uploaded
dim_customers  uploaded
sim_payments  uploaded
key_customer  uploaded
raw_customers  uploaded
stg_payments  uploaded
stg_orders  uploaded
sim_customers  uploaded
sim_orders  uploaded
fct_orders  uploaded
lim_payments  uploaded
lim_orders  uploaded
lim_customers  uploaded
stg_customers  uploaded
customer  uploaded
order_payments  uploaded
raw_orders  uploaded
raw_payments  uploaded

In [13]:
tdml.widgets.tab_dfs(table_names = [f.split(".csv")[0] for f in all_csvs] )

In [14]:
tdml.remove_context()

True

**If you have already opened the other notebooks, be sure to restart their kernels, so they can also use the freshly installed packages**