# 1) Install Chatbot Widget

In [1]:
%%capture
# # '%%capture' suppresses the display of installation steps of the following packages
!pip install "git+https://github.com/martinhillebrand/chatbot-widget.git"

In [2]:
%%capture
# # '%%capture' suppresses the display of installation steps of the following packages
!pip install teradataml-plus plotly

In [3]:
try:
    import chatbot_widget
    print("chatbot_widget installed")
except:
    print("chatbot_widget could not be loaded, please restart the kernel")

chatbot_widget installed

# 2) Optional: Get the teradata-mcp-server (Community Edition) Code

In [4]:
!git clone  https://github.com/Teradata/teradata-mcp-server.git

Cloning into 'teradata-mcp-server'...
remote: Enumerating objects: 3728, done.
remote: Counting objects: 100% (636/636), done.
remote: Compressing objects: 100% (134/134), done.
remote: Total 3728 (delta 541), reused 506 (delta 502), pack-reused 3092 (from 2)
Receiving objects: 100% (3728/3728), 80.87 MiB | 40.73 MiB/s, done.
Resolving deltas: 100% (2225/2225), done.

In [5]:
!ls

00-Setup-demo.ipynb	      example_chat.png	sample_data_jaffleshop
01-explore-MCP-Servers.ipynb  old		tdmcpcommunity.py
02-chat-with-MCP.ipynb	      README.md		teradata-mcp-server

In [6]:
import tomllib,shlex

with open("teradata-mcp-server/pyproject.toml", "rb") as f:
    deps = tomllib.load(f)["project"]["dependencies"]
deps_str = " ".join(shlex.quote(d) for d in deps)

print(deps_str)

'pydantic>=2.8.0,<3.0.0' 'fastmcp>=2.12.0,<3.0.0' 'mcp[cli]>=1.0.0,<2.0.0' 'teradatasqlalchemy>=20.0.0.0' 'python-dotenv>=1.0.0' 'PyYAML>=6.0.0' 'sqlalchemy>=2.0.0,<3.0.0'

In [7]:
%%capture
# # '%%capture' suppresses the display of installation steps of the following packages
!pip install -U {deps_str}

**FYI: We can start the MCP server later through the wrapper script tdmcpcommunity.py**

# 3 Load some dummy data to the demo_user database

In [1]:
# TODO example from mcp demo

In [2]:
host = 'host.docker.internal'
user = 'demo_user'

In [3]:
import getpass
db_pw = getpass.getpass("Enter DB Password here")

Enter DB Password here ················

In [8]:
import tdmlplus
import teradataml as tdml
import os
import pandas as pd

In [5]:
tdml.create_context(host, user, db_pw)

Engine(teradatasql://demo_user:***@host.docker.internal)

In [6]:
all_csvs = os.listdir("sample_data_jaffleshop/")
for f in all_csvs:
    if f.endswith(".csv"):
        table_name = f.split(".csv")[0]
        df = pd.read_csv("sample_data_jaffleshop/"+f)
        tdml.copy_to_sql(df, table_name, if_exists="replace")
        print(table_name, " uploaded")

dim_payment_method  uploaded
customer_lifetime_value  uploaded
dim_customers  uploaded
sim_payments  uploaded
key_customer  uploaded
raw_customers  uploaded
stg_payments  uploaded
stg_orders  uploaded
sim_customers  uploaded
sim_orders  uploaded
fct_orders  uploaded
lim_payments  uploaded
lim_orders  uploaded
lim_customers  uploaded
stg_customers  uploaded
customer  uploaded
order_payments  uploaded
raw_orders  uploaded
raw_payments  uploaded

In [9]:
tdml.widgets.tab_dfs(table_names = [f.split(".csv")[0] for f in all_csvs] )

In [10]:
tdml.remove_context()

True

**If you have already opened the other notebooks, be sure to restart their kernels, so they can also use the freshly installed packages**